.menu-principal{
    width: 100%;
    background-color: #EAEAEA;
    height: 60px;

}

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul{
    padding: Opx!important;
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    padding: 7px;
    width: 75%;
    float: left;
}

.redes-sociais ul li{
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 15px;
}

.redes-sociais {
    width: 25%;
    float: left;
    padding: 15px;
}


.header-2{
    background-color: rgb(255, 255, 255);
    width: 980px;
    margin: 0 auto;
    padding: 24px;
}

.menu ul li{
    display: inline-block;
    color: #000000;
    margin-left: 14px;
}


.menu ul li:hover{
    border-bottom: 2px solid #a89003;
    height: 38px;
}

.menu ul li a:hover{
    color: #a89003;
}

.menu ul li a {
     color: #413e3e;
     text-decoration: none;
     font-size: 16px;
     text-transform: uppercase;

}

.menu{
    width: 73%;
    float: left;
    text-align: center;
}

.busca{
    width: 27%;
    float: right;
    text-align: center;
}

.busca input{
    margin-top: -2px;
    height: 25px;
    padding: 3px;
    width: 195px;
    background-image: url("/home/jessica/Documents/interfaceHomemMaquina/trabalho/logo/image.png");
    background-repeat: no-repeat;
    background-position: 96%;
    border: 1px solid #d6d6d6;

}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.menu-urls{
    border-bottom: 2px solid #efefef;
    height: 67px;
}

button.slick-prev.slick-arrow{
    font-size: 0px;
    border: none;
    width: 30px;
    height: 70px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('/home/jessica/Documents/interfaceHomemMaquina/trabalho/slider/back.png');
    top: 45%;
    left: 30;
}

button.slick-next.slick-arrow{
    font-size: 0px;
    border: none;
    width: 30px;
    height: 70px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('/home/jessica/Documents/interfaceHomemMaquina/trabalho/slider/next.png');
    top: 45%;
    right: 30;
}

.slider-principal{
    width: 100%;
}

.slick-initialized{
    overflow: hidden;
}
/* 
.slick-dots li button{
    font-size: 0px;
    border: 3px solid #ffffff;
    width: 50%;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.slick-dots li{
    display: inline-block;
}

.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 44%;
    top: 430px;
}

.slick-dots li{
    padding-left: 10px;
    display: inline-block;
}

li.slick-active button{
    background: #a89003;
} 
*/

.texto-destaque{
    text-align: center;
}

.texto-destaque h1{
    color: #818181;
    font-size: 30px;
    text-transform: uppercase;
}

.texto-destaque strong{
    color: #646464;
}
.col-3{
    width: 33.3%;
    float: left;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    width: 29px;
    text-align: center;

}

.col-1 text{
    text-align: right;
    color: #FFFFFFFF;    
    position: right;
    width: 29px;
    float: right;




}

.bloco-texto{
    margin: 3px;
    width: 50%;
    text-align: center;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background: rgb(233, 229, 229);
	padding:15px;
	margin:25px 0;
}

#contact h3 {
	color: #a89003;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#dbc753;
	color:#000;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#ac9c45;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.text-item {
	position: absolute;
	left: 5%;
	right: 5%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}